node_modules

/.cache
/build
.env

## Panda
styled-system
styled-system-studio
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
